

.SMRL_image{height: 130px;width: 150px;}
.SRG_image{height: 100px;width:100px;}
.digitalstudies_image{height: 40px;width:285px;}
.ESC_image{height:40px;width:285px;}
.socialmedia_image{height:40px;width:285px;}

.about_body{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 70px;
    grid-template-rows: auto auto auto auto;
    width: 100vw;
}

.about_nav{grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    padding: 20px;}

.about_body header{grid-column: 1/span 1;
grid-row: 1/span 1;
padding-left: 60px; 
font-size: 30px;
padding-top: 50px;}

.about_header2{grid-row: 2/span 1;
grid-column: 1/span 1;
padding-left: 100px;}

#about_text{grid-row: 2/span 1;
grid-column: 1/-1;}

#about_links{grid-row:3/span 1;
grid-column: 1/-1;
padding-top: 40px;
padding-left: 200px;}

.about_footer{grid-row: 4/span 1;
grid-column: 1/-1;
text-align: center;}

/* make nav have padding between links
    make h1 in top-left corner
    put about to top-left a little more
    want about text to span all columns and have some padding on left / right side
    put space between text paragraphs
    organize groups on second half of page */


