html{
    scroll-behavior: smooth;
}
.home-body{
  width: 90%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto auto auto 1fr;
  margin: auto;
}
.home-header{
  grid-column: 2 /span 1;
  grid-row: 2/span 1;
}
.home-nav{
  grid-column: 2 / span 1;
  grid-row: 3/ span 1;
}
#home-content{
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
.home-footer{
  grid-column: 2 / span 1;
  grid-row:  -1;
}
.home-about{
    display:grid;
    grid-template-columns: 30vw auto auto auto auto auto;
    grid-gap: 10px;
    grid-template-rows: auto;
    margin-top: 10px;
    padding-bottom: 10px;
  }
.home-image{
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  }
#name-si{
  grid-column: 1/span 2;
  grid-row: 3/span 1;
}
#si-logo img{
  width:259px;
  height: auto;
  object-fit: contain;
}
#si-logo{
  grid-column: 5/span 2;
  grid-row: 1/ span 1;
}
#contact{
  grid-column: 5/ span 4;
  grid-row: 2/span 1;
}
#contact img{
  width: 22px;
  height: auto;
  object-fit: contain;
}

@media only screen and (min-width: 900px) {
  .home-about{
      display:grid;
      grid-template-columns: 65px 260px 300px auto auto 5vw;
      grid-gap: 10px;
      grid-template-rows: auto;
      padding-bottom: 30px;
    }
  .home-image{
    grid-column: 2/span 1;
    grid-row: 1/span 3;
    }
  .home-image img{
    width:259px;
    height:auto;
    object-fit: contain;
  }
  #name-si{
    grid-column: 3/span 1;
    grid-row: 1/span 1;
    margin-top: auto;
    font-size:
  }
  #si-logo img{
    width:300px;
    height: auto;
    object-fit: contain;
  }
  #si-logo{
    grid-column: 3/span 1;
    grid-row: 2/ span 1;
    margin-top: auto;
  }
  #contact{
    grid-column: 3/ span 1;
    grid-row: 3/span 1;
    font-size: 12px;
  }
  #contact img{
    width: 22px;
    height: auto;
    object-fit: contain;
  }
.recent-news{
  display:grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}
#news-header{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  margin-left: auto;
  margin-right:auto;
}
.recent-news img{
  max-width: 30vw;
  height:auto;
  object-fit: contain;
  margin-right: 10px;
}
.first-news{
  grid-column: 3/ span 1;
  grid-row: 2/ span 1;
}
.first-news-pic{
  grid-column: 2/span 1;
  grid-row: 2 / span 1;
}
.second-news{
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}
.second-news-pic{
  grid-column: 2/span 1;
  grid-row: 3/span 1;
}
.third-news{
  grid-column: 3/ span 1;
  grid-row: 4/ span 1;
}
.third-news-pic{
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
}
}
