/* CSS for personal webpage */
/* Oliver Haimson */

html {
  font-family: 'Arial';
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto auto auto 1fr;
}

header {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

nav {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

main {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

footer {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}

img {
  height: 200px; width: 200px;
}

nav ul{
  list-style-type: none;
}

nav li{text-align: right;
  padding-right: 20px;
  margin-bottom: 10px;
  min-width: 175px;
  text-decoration: none;
  margin-top: 20px;}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  margin-top: -40px;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  z-index: 1;
}

.skip a:focus{margin-top: 0px};

*:focus {
  border: 2px solid black;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  margin-top: -40px;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  z-index: 1;
}

.skip a:focus{margin-top: 0px};

*:focus{border: 2px solid black;}

body{font-family: 'Arial';
font-size: 18px;}

footer li{
  display: inline;
  padding-right: 30px;
  text-decoration: none;
  text-align: bottom;}
