/* CSS for personal webpage */
/* Oliver Haimson */

html {
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a{text-decoration: none;
color: #0066cc;}

header {
  padding-bottom: 20px;
  font-size: 40px;
}

nav {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 10px;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  border-top: 1px solid #d5d5d5;
  padding-top: 30px;
  padding-bottom: 40px;
}

img {
  height: 200px; width: 200px;
}

nav ul, footer ul{
  list-style-type: none;
}

nav li, footer li {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 10px;
  min-width: 175px;
  text-decoration: none;
  margin-top: 20px;
  font-weight: bold;
  display: inline;
  font-size: 15px;
  padding-right: 20px;
}

nav li {
  padding-right: 35px;
}


nav a, footer a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover, nav a:focus, footer a:hover, footer a:focus {
  text-decoration: underline;
  color: #2033ab;
}

h2 {
  color: #D80000;
  font-size: 25px;
}

.selected {
  color: blue;
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  margin-top: -40px;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  z-index: 1;
}

.skip a:focus{margin-top: 0px};

*:focus {
  border: 2px solid black;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  margin-top: -40px;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  z-index: 1;
}

.skip a:focus{margin-top: 0px};

*:focus{
  border: 2px solid black;
}

html{
    scroll-behavior: smooth;
}
.home-body{
  width: 80%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto auto auto 1fr;
  margin: auto;
}
.home-header{
  grid-column: 2 /span 1;
  grid-row: 2/span 1;
}
.home-nav{
  grid-column: 2 / span 1;
  grid-row: 3/ span 1;
}
#home-content{
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
.home-footer{
  grid-column: 2 / span 1;
  grid-row:  -1;
}
.home-about{
    display:grid;
    grid-template-columns: 30vw auto auto auto auto auto;
    grid-gap: 10px;
    grid-template-rows: auto;
    margin-top: 10px;
    padding-bottom: 10px;
  }
.home-image{
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  }
#name-si{
  grid-column: 1/span 2;
  grid-row: 3/span 1;
}
#si-logo img{
  width:259px;
  height: auto;
  object-fit: contain;
}
#si-logo{
  grid-column: 5/span 2;
  grid-row: 1/ span 1;
}
#contact{
  grid-column: 5/ span 4;
  grid-row: 2/span 1;
}
#contact img{
  width: 22px;
  height: auto;
  object-fit: contain;
}
#email{
  grid-column: 4/span 1;
  grid-row: 3/span 1;
}
#twitter{
  grid-column: 5/ span 1;
  grid-row: 3/span 1;
}
#google-scholar{
  grid-column: 6/span 1;
  grid-row: 3/span 1;
}
#linkedin{
  grid-column: 7/span 1;
  grid-row: 3/span 1;
}
@media only screen and (min-width: 900px) {
.recent-news{
  display:grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}
#news-header{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  margin-left: auto;
  margin-right:auto;
}
.recent-news img{
  max-width: 30vw;
  height:auto;
  object-fit: contain;
  margin-right: 10px;
}
.first-news{
  grid-column: 3/ span 1;
  grid-row: 2/ span 1;
}
.first-news-pic{
  grid-column: 2/span 1;
  grid-row: 2 / span 1;
}
.second-news{
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  justify-content: space-between;
}
.second-news-pic{
  grid-column: 2/span 1;
  grid-row: 3/span 1;
}
.third-news{
  grid-column: 3/ span 1;
  grid-row: 4/ span 1;
  justify-content: space-between;

}
.third-news-pic{
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
}


.about_body{
        width: 80%;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto auto auto 1fr;
        margin: auto;
      }

.about-header{grid-column: 2/span 1;
grid-row: 2/span 1;
}

.about_nav{grid-column: 2 / span 1;
    grid-row: 3 / span 1;}

#about_content{grid-column: 2/span 1;
grid-row: 4/span 1;}

.about_text{padding: 20px;}

.about_links a{padding: 20px;}


.about_footer{grid-column: 2/span 1;
grid-row: 5/span 1;}

a.selected{color: #D80000;
text-decoration: none;}

.SMRL_image{height: 130px;width: 150px; padding-top: 20px;}
.SRG_image{height: 100px;width:100px;padding-top: 20px; padding-bottom: 30px;}
.digitalstudies_image{height: 40px;width:285px;padding-top: 20px;}
.ESC_image{height:40px;width:285px;padding-top: 20px;}
.socialmedia_image{height:40px;width:285px;padding-top: 20px;}
  
  .reading_list{padding: 20px;}


/* how to make links inline
make sure all header fonts same size
add red to nav when on all pages
make all links same blue */


.students-body {
  width: 80%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto auto auto 1fr;
  margin: auto;
}

.students-header {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.students-nav {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

#students-content {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.students-footer {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}
.students-text {
  padding: 20px;
}

.student-profile {
  padding: 20px;
}

.student-profile img {
  height: 150px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.selected{color: #D80000;
text-decoration: none;}

.students-text a{text-decoration: none;
color: #0066cc;}
