.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px  ;
    grid-template-rows: [row] auto [row] auto [row] auto;
    background-color: #fff;
    color: #444;
    justify-content: center;
}   

.a {
    grid-column: col ;
    grid-row: row 1;
}

.b {
    grid-column: col 2 / span 4 ;
    grid-row: row 1;
}

.c {
    grid-column: col ;
    grid-row: row 2 ;
}
.d {
    grid-column: col 2 / span 4 ;
    grid-row: row 2 ;
}

.e {
    grid-column: col ;
    grid-row: row 3;
}
.f {
    grid-column: col 2 / span 4;
    grid-row: row 3;
}
